name: Build

on: [push, pull_request, workflow_dispatch]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  win-build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2.4.0

    - name: Setup Environment
      id: install-boost
      uses: MarkusJx/install-boost@v2.1.0
      with:
        boost_version: 1.78.0
        platform_version: 2019
        toolset: msvc

    - name: Build
      env:
        BOOST_ROOT: ${{steps.install-boost.outputs.BOOST_ROOT}}
      run: |
        cmake -B build
        cmake --build build --config ${{env.BUILD_TYPE}}

    - name: Upload artifacts
      uses: actions/upload-artifact@v2.3.1
      with:
        name: win-numero
        path: build/${{env.BUILD_TYPE}}/numero.exe

  linux-build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.4.0

    - name: Setup Environment
      id: install-boost
      uses: MarkusJx/install-boost@v2.1.0
      with:
        boost_version: 1.78.0
        platform_version: 20.04

    - name: Build
      env:
        BOOST_ROOT: ${{steps.install-boost.outputs.BOOST_ROOT}}
      run: |
        cmake -B build
        cmake --build build --config ${{env.BUILD_TYPE}}

    - name: Upload artifacts
      uses: actions/upload-artifact@v2.3.1
      with:
        name: linux-numero
        path: build/numero

  mac-build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2.4.0

    - name: Setup Environment
      id: install-boost
      uses: MarkusJx/install-boost@v2.1.0
      with:
        boost_version: 1.78.0
        platform_version: 11
        boost_install_dir: /home/runner

    - name: Build
      run: |
        cmake -B build
        cmake --build build --config ${{env.BUILD_TYPE}}

    - name: Upload artifacts
      uses: actions/upload-artifact@v2.3.1
      with:
        name: mac-numero
        path: build/numero
